@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* --------------------------------------------------------------
    ICON
-------------------------------------------------------------- */
/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.icon-envelope:before {
  content: "\e000";
}

.icon-cart:before {
  content: "\e007";
}

.icon-cart-2:before {
  content: "\e008";
}

.icon-heart:before {
  content: "\e009";
}

/* Filled heart */
.icon-heart:after,
.icon-heart-2:before {
  content: "\e00a";
}

.icon-star:before {
  content: "\e00b";
}

/* Filled star */
.icon-star:after,
.icon-star-2:before {
  content: "\e00c";
}

.icon-arrow-right:before {
  content: "\e00d";
}

.icon-arrow-left:before {
  content: "\e003";
}

.icon-truck:before {
  content: "\e00e";
}

.icon-remove:before {
  content: "\e00f";
}

.icon-cog:before {
  content: "\e010";
}

.icon-plus:before,
.icon-plus:after {
  content: "\e011";
}

.icon-minus:before {
  content: "\e012";
}

.bh-icon-smiley:before {
  content: "\e001";
}

.bh-icon-sad:before {
  content: "\e002";
}

.icon-file:before {
  content: "\e004";
}

.icon-remove-2:before {
  content: "\e005";
}

/* --------------------------------------------------------------
    Latihan Button
-------------------------------------------------------------- */
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #89867e;
  background: #fff;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover,
a:active {
  color: #333;
}

/* --------------------------------------------------------------
      2 - Typograpy
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 6px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 14px;
  line-height: 30px;
}

/* --------------------------------------------------------------
    STYLE
-------------------------------------------------------------- */
#header {
  margin: 0 auto;
  text-align: center;
  height: 150px;
  margin-top: 60px;
}
#header h1 {
  color: #89867e;
  font-weight: 300;
  font-size: 42px;
  line-height: 1.3;
  margin: 0;
}
#header span {
  font-size: 24px;
  font-weight: 200;
  opacity: 0.6;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 80px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 20px 30px;
  z-index: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #FFFFFF;
}
.btn::before {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* --------------------------------------------------------------
    Section 1
-------------------------------------------------------------- */
#section1 {
  padding: 60px 0;
  background-color: #0E83CD;
}
#section1 .button1 {
  margin: 0 auto;
  text-align: center;
}
#section1 .btn1 {
  position: relative;
  display: inline-block;
  padding: 20px 80px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 20px 30px;
  background-color: #0E83CD;
  border: 3px solid #FFFFFF;
  z-index: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
#section1 .btn1::after {
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #FFFFFF;
}

#section1 .btn11:hover, #section1 .btn11:active,
#section1 .btn12:hover, #section1 .btn12:active,
#section1 .btn13:hover, #section1 .btn13:active,
#section1 .btn14:hover, #section1 .btn14:active,
#section1 .btn15:hover, #section1 .btn15:active,
#section1 .btn16:hover, #section1 .btn16:active {
  color: #0E83CD;
}
#section1 .btn11:hover,
#section1 .btn11:active {
  background-color: #FFFFFF;
  color: #0E83CD;
}
#section1 .btn12::after {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}
#section1 .btn12:hover::after {
  height: 100%;
}
#section1 .btn13::after {
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
}
#section1 .btn13:hover::after {
  width: 100%;
}
#section1 .btn14::after {
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#section1 .btn14:hover::after {
  width: 90%;
  opacity: 1;
}
#section1 .btn15::after {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
#section1 .btn15:hover::after {
  height: 280%;
  opacity: 1;
}
#section1 .btn16::after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#section1 .btn16:hover::after {
  height: 75%;
  opacity: 1;
}

/* --------------------------------------------------------------
    Section 2
-------------------------------------------------------------- */
#section2 {
  padding: 60px 0;
  background: #F06060;
  margin: 0 auto;
  text-align: center;
}
#section2 .btn1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  padding: 25px 80px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 20px 30px;
  background-color: #CB4E4E;
  z-index: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
#section2 .btn17 {
  box-shadow: 0 6px #AB3C3C;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn17:hover {
  top: 2px;
  box-shadow: 0 4px #AB3C3C;
}
#section2 .btn17:active {
  top: 6px;
  box-shadow: 0 0 #AB3C3C;
}
#section2 .btn18 {
  box-shadow: 0 6px #AB3C3C;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn18:hover {
  top: -2px;
  box-shadow: 0 8px #AB3C3C;
}
#section2 .btn18:active {
  top: 6px;
  box-shadow: 0 0 #AB3C3C;
}
#section2 .btn19 {
  box-shadow: -6px 0 #AB3C3C;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn19:hover {
  left: -2px;
  box-shadow: -4px 0 #AB3C3C;
}
#section2 .btn19:active {
  left: -6px;
  box-shadow: 0px 0 #AB3C3C;
}
#section2 .btn20 {
  box-shadow: 6px 0 #AB3C3C;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn20:hover {
  right: -2px;
  box-shadow: 4px 0 #AB3C3C;
}
#section2 .btn20:active {
  right: -6px;
  box-shadow: 0 0 #AB3C3C;
}
#section2 .btn21 {
  box-shadow: 0 6px #AB3C3C;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn21:hover {
  top: 2px;
  box-shadow: 0 4px #AB3C3C;
}
#section2 .btn21:active {
  top: 6px;
  box-shadow: 0 0 #AB3C3C;
}
#section2 .btn22 {
  box-shadow: 0 6px #AB3C3C;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn22:hover {
  top: 2px;
  box-shadow: 0 4px #AB3C3C;
}
#section2 .btn22:active {
  top: 6px;
  box-shadow: 0 0 #AB3C3C;
}
#section2 .btn23 {
  width: 90px;
  height: 90px;
  padding: 0;
  box-shadow: 0 6px #AB3C3C;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn23:hover {
  top: 2px;
  box-shadow: 0 4px #AB3C3C;
}
#section2 .btn23:active {
  top: 6px;
  box-shadow: 0 0 #AB3C3C;
}
#section2 .btn24 {
  width: 90px;
  height: 90px;
  padding: 0;
  box-shadow: 0 6px #AB3C3C;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#section2 .btn24:hover {
  top: -2px;
  box-shadow: 0 8px #AB3C3C;
}
#section2 .btn24:active {
  top: 4px;
  box-shadow: 0 0 #AB3C3C;
}

/* --------------------------------------------------------------
    Section 3
-------------------------------------------------------------- */
#section3 {
  padding: 60px 0;
  background-color: #FCD04B;
  margin: 0 auto;
  text-align: center;
}
#section3 .btn3 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  padding: 25px 40px 25px 100px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 20px 30px;
  background-color: #fcad26;
  z-index: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#section3 .btn3:hover {
  background-color: #f29e0d;
}
#section3 .btn3:before {
  position: absolute;
  height: 100%;
  font-size: 30px;
  top: 0;
  width: 60px;
  line-height: 60px;
}
#section3 .btn3::after {
  content: '';
  position: absolute;
  z-index: -1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#section3 .btn25:before {
  background: rgba(0, 0, 0, 0.05);
  left: 0;
}
#section3 .btn26 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#section3 .btn26:before {
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  left: 0;
}
#section3 .btn27 {
  padding: 80px 20px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px #DA9622;
}
#section3 .btn27::before {
  background: #FFFFFF;
  width: 100%;
  height: 60px;
  left: 0;
  line-height: 60px;
  color: #fcad26;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0;
  font-size: 140%;
}
#section3 .btn28 {
  border-radius: 10px;
}
#section3 .btn28::before {
  width: 60px;
  background-color: #FFFFFF;
  height: 100%;
  z-index: -1;
  color: #f29e0d;
  border-radius: 10px 0 0 10px;
  line-height: 3;
  font-size: 140%;
  left: 0;
}
#section3 .btn28::after {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  left: 60px;
  top: 50%;
  margin: -10px 0 0 -10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#section3 .btn29 {
  padding: 25px 120px 25px 60px;
  overflow: hidden;
}
#section3 .btn29::before {
  right: 10px;
  left: auto;
  line-height: 3;
  z-index: 2;
  font-size: 140%;
}
#section3 .btn29::after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  top: 0;
  right: 0;
  margin: -5px 0 0 -5px;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
#section3 .btn29:hover::after {
  width: 40%;
}

/* --------------------------------------------------------------
    Section 4
-------------------------------------------------------------- */
#section4 {
  background: #2ECC71;
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;
}
#section4 .btn4 {
  position: relative;
  padding: 25px 80px;
  margin: 30px;
  border: 3px solid #FFFFFF;
  border-radius: 50px;
  outline: none;
  color: #FFFFFF;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#section4 .btn4:hover {
  background: #24b662;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#section4 .btn4:active {
  border-color: #17954c;
  color: #17954c;
}
#section4 .btn4:active:before {
  color: #17954c;
}
#section4 .btn4::before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 3;
  color: #FFFFFF;
  top: 0;
}
#section4 .btn4::after {
  content: "";
  position: absolute;
  z-index: -1;
}
#section4 .btn30::before {
  top: 0;
  left: 130%;
}
#section4 .btn30:hover::before {
  left: 75%;
}
#section4 .btn31::before {
  right: 130%;
}
#section4 .btn31:hover::before {
  right: 75%;
}
#section4 .btn32::before {
  opacity: 0;
  left: 60%;
}
#section4 .btn32:hover::before {
  opacity: 1;
  left: 75%;
}
#section4 .btn33::before {
  opacity: 0;
  right: 60%;
}
#section4 .btn33:hover::before {
  opacity: 1;
  right: 75%;
}

/* --------------------------------------------------------------
    Section 5
-------------------------------------------------------------- */
#section5 {
  padding: 60px 0;
  background: #9E54BD;
  text-align: center;
}
#section5 .btn5 {
  border: none;
  outline: none;
  background: #823aa0;
  font-size: 16px;
  color: #FFFFFF;
  min-width: 260px;
  height: 70px;
  line-height: 24px;
  overflow: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#section5 .btn5:active {
  background: #9053a9;
  top: 2px;
  box-shadow: none;
}
#section5 .btn5:active:before {
  color: #703b87;
}
#section5 .btn5::before {
  position: absolute;
  font-size: 180%;
  line-height: 2.5;
}
#section5 .btn34 span, #section5 .btn35 span, #section5 .btn36 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  line-height: 2;
}
#section5 .btn34::before, #section5 .btn35::before, #section5 .btn36::before {
  left: 0;
  top: -100%;
}
#section5 .btn34:hover span, #section5 .btn35:hover span, #section5 .btn36:hover span {
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  -webkit-transform: translateY(300%);
  transform: translateY(300%);
}
#section5 .btn34:hover::before, #section5 .btn35:hover::before, #section5 .btn36:hover::before {
  top: 0;
}
#section5 .btn37 span, #section5 .btn38 span, #section5 .btn39 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  line-height: 2;
}
#section5 .btn37::before, #section5 .btn38::before, #section5 .btn39::before {
  left: -100%;
  top: 0;
}
#section5 .btn37:hover span, #section5 .btn38:hover span, #section5 .btn39:hover span {
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}
#section5 .btn37:hover::before, #section5 .btn38:hover::before, #section5 .btn39:hover::before {
  left: 0;
}

/* --------------------------------------------------------------
    Icon Moo
-------------------------------------------------------------- */
.btn3::before, .btn3::after,
.btn4::before, .btn4::after,
.btn5::before, .btn5::after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/*# sourceMappingURL=style.css.map */
