@import "compass";


// Color Variabel
$main-color: #f2f2f2;
$color1: #0E83CD;
$color2: #F06060;
$color3: #FCD04B;
$color4: #2ECC71;
$color5: #9E54BD;
$color6: #4593E3;
$color7: #2AC56C;
$oclor8: #ECF0F1;




// Color Default
$w: #FFFFFF;
$bl: #333333;
